/* vietnamese */
@font-face {
	font-family: 'Quicksand';
	font-style: normal;
	font-weight: 300;
	font-display: swap;
	src: url(/font/6xKtdSZaM9iE8KbpRA_hJFQNcOM.woff2) format('woff2');
	unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
  }
  /* latin-ext */
  @font-face {
	font-family: 'Quicksand';
	font-style: normal;
	font-weight: 300;
	font-display: swap;
	src: url(/font/6xKtdSZaM9iE8KbpRA_hJVQNcOM.woff2) format('woff2');
	unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
  /* latin */
  @font-face {
	font-family: 'Quicksand';
	font-style: normal;
	font-weight: 300;
	font-display: swap;
	src: url(/font/6xKtdSZaM9iE8KbpRA_hK1QN.woff2) format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  /* vietnamese */
  @font-face {
	font-family: 'Quicksand';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url(/font/6xKtdSZaM9iE8KbpRA_hJFQNcOM.woff2) format('woff2');
	unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
  }
  /* latin-ext */
  @font-face {
	font-family: 'Quicksand';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url(/font/6xKtdSZaM9iE8KbpRA_hJVQNcOM.woff2) format('woff2');
	unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
  /* latin */
  @font-face {
	font-family: 'Quicksand';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url(/font/6xKtdSZaM9iE8KbpRA_hK1QN.woff2) format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  /* vietnamese */
  @font-face {
	font-family: 'Quicksand';
	font-style: normal;
	font-weight: 500;
	font-display: swap;
	src: url(/font/6xKtdSZaM9iE8KbpRA_hJFQNcOM.woff2) format('woff2');
	unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
  }
  /* latin-ext */
  @font-face {
	font-family: 'Quicksand';
	font-style: normal;
	font-weight: 500;
	font-display: swap;
	src: url(/font/6xKtdSZaM9iE8KbpRA_hJVQNcOM.woff2) format('woff2');
	unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
  /* latin */
  @font-face {
	font-family: 'Quicksand';
	font-style: normal;
	font-weight: 500;
	font-display: swap;
	src: url(/font/6xKtdSZaM9iE8KbpRA_hK1QN.woff2) format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  /* vietnamese */
  @font-face {
	font-family: 'Quicksand';
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	src: url(/font/6xKtdSZaM9iE8KbpRA_hJFQNcOM.woff2) format('woff2');
	unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
  }
  /* latin-ext */
  @font-face {
	font-family: 'Quicksand';
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	src: url(/font/6xKtdSZaM9iE8KbpRA_hJVQNcOM.woff2) format('woff2');
	unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
  /* latin */
  @font-face {
	font-family: 'Quicksand';
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	src: url(/font/6xKtdSZaM9iE8KbpRA_hK1QN.woff2) format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  /* cyrillic-ext */
  @font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 100;
	font-display: swap;
	src: url(/font/KFOkCnqEu92Fr1MmgVxFIzIFKw.woff2) format('woff2');
	unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
  }
  /* cyrillic */
  @font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 100;
	font-display: swap;
	src: url(/font/KFOkCnqEu92Fr1MmgVxMIzIFKw.woff2) format('woff2');
	unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
  }
  /* greek-ext */
  @font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 100;
	font-display: swap;
	src: url(/font/KFOkCnqEu92Fr1MmgVxEIzIFKw.woff2) format('woff2');
	unicode-range: U+1F00-1FFF;
  }
  /* greek */
  @font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 100;
	font-display: swap;
	src: url(/font/KFOkCnqEu92Fr1MmgVxLIzIFKw.woff2) format('woff2');
	unicode-range: U+0370-03FF;
  }
  /* vietnamese */
  @font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 100;
	font-display: swap;
	src: url(/font/KFOkCnqEu92Fr1MmgVxHIzIFKw.woff2) format('woff2');
	unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
  }
  /* latin-ext */
  @font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 100;
	font-display: swap;
	src: url(/font/KFOkCnqEu92Fr1MmgVxGIzIFKw.woff2) format('woff2');
	unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
  /* latin */
  @font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 100;
	font-display: swap;
	src: url(/font/KFOkCnqEu92Fr1MmgVxIIzI.woff2) format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  /* cyrillic-ext */
  @font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 300;
	font-display: swap;
	src: url(/font/KFOlCnqEu92Fr1MmSU5fCRc4EsA.woff2) format('woff2');
	unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
  }
  /* cyrillic */
  @font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 300;
	font-display: swap;
	src: url(/font/KFOlCnqEu92Fr1MmSU5fABc4EsA.woff2) format('woff2');
	unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
  }
  /* greek-ext */
  @font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 300;
	font-display: swap;
	src: url(/font/KFOlCnqEu92Fr1MmSU5fCBc4EsA.woff2) format('woff2');
	unicode-range: U+1F00-1FFF;
  }
  /* greek */
  @font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 300;
	font-display: swap;
	src: url(/font/KFOlCnqEu92Fr1MmSU5fBxc4EsA.woff2) format('woff2');
	unicode-range: U+0370-03FF;
  }
  /* vietnamese */
  @font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 300;
	font-display: swap;
	src: url(/font/KFOlCnqEu92Fr1MmSU5fCxc4EsA.woff2) format('woff2');
	unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
  }
  /* latin-ext */
  @font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 300;
	font-display: swap;
	src: url(/font/KFOlCnqEu92Fr1MmSU5fChc4EsA.woff2) format('woff2');
	unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
  /* latin */
  @font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 300;
	font-display: swap;
	src: url(/font/KFOlCnqEu92Fr1MmSU5fBBc4.woff2) format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  /* cyrillic-ext */
  @font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url(/font/KFOmCnqEu92Fr1Mu72xKOzY.woff2) format('woff2');
	unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
  }
  /* cyrillic */
  @font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url(/font/KFOmCnqEu92Fr1Mu5mxKOzY.woff2) format('woff2');
	unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
  }
  /* greek-ext */
  @font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url(/font/KFOmCnqEu92Fr1Mu7mxKOzY.woff2) format('woff2');
	unicode-range: U+1F00-1FFF;
  }
  /* greek */
  @font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url(/font/KFOmCnqEu92Fr1Mu4WxKOzY.woff2) format('woff2');
	unicode-range: U+0370-03FF;
  }
  /* vietnamese */
  @font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url(/font/KFOmCnqEu92Fr1Mu7WxKOzY.woff2) format('woff2');
	unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
  }
  /* latin-ext */
  @font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url(/font/KFOmCnqEu92Fr1Mu7GxKOzY.woff2) format('woff2');
	unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
  /* latin */
  @font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url(/font/KFOmCnqEu92Fr1Mu4mxK.woff2) format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  /* cyrillic-ext */
  @font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	src: url(/font/KFOlCnqEu92Fr1MmWUlfCRc4EsA.woff2) format('woff2');
	unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
  }
  /* cyrillic */
  @font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	src: url(/font/KFOlCnqEu92Fr1MmWUlfABc4EsA.woff2) format('woff2');
	unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
  }
  /* greek-ext */
  @font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	src: url(/font/KFOlCnqEu92Fr1MmWUlfCBc4EsA.woff2) format('woff2');
	unicode-range: U+1F00-1FFF;
  }
  /* greek */
  @font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	src: url(/font/KFOlCnqEu92Fr1MmWUlfBxc4EsA.woff2) format('woff2');
	unicode-range: U+0370-03FF;
  }
  /* vietnamese */
  @font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	src: url(/font/KFOlCnqEu92Fr1MmWUlfCxc4EsA.woff2) format('woff2');
	unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
  }
  /* latin-ext */
  @font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	src: url(/font/KFOlCnqEu92Fr1MmWUlfChc4EsA.woff2) format('woff2');
	unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
  /* latin */
  @font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	src: url(/font/KFOlCnqEu92Fr1MmWUlfBBc4.woff2) format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  /* cyrillic-ext */
  @font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 900;
	font-display: swap;
	src: url(/font/KFOlCnqEu92Fr1MmYUtfCRc4EsA.woff2) format('woff2');
	unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
  }
  /* cyrillic */
  @font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 900;
	font-display: swap;
	src: url(/font/KFOlCnqEu92Fr1MmYUtfABc4EsA.woff2) format('woff2');
	unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
  }
  /* greek-ext */
  @font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 900;
	font-display: swap;
	src: url(/font/KFOlCnqEu92Fr1MmYUtfCBc4EsA.woff2) format('woff2');
	unicode-range: U+1F00-1FFF;
  }
  /* greek */
  @font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 900;
	font-display: swap;
	src: url(/font/KFOlCnqEu92Fr1MmYUtfBxc4EsA.woff2) format('woff2');
	unicode-range: U+0370-03FF;
  }
  /* vietnamese */
  @font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 900;
	font-display: swap;
	src: url(/font/KFOlCnqEu92Fr1MmYUtfCxc4EsA.woff2) format('woff2');
	unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
  }
  /* latin-ext */
  @font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 900;
	font-display: swap;
	src: url(/font/KFOlCnqEu92Fr1MmYUtfChc4EsA.woff2) format('woff2');
	unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
  /* latin */
  @font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 900;
	font-display: swap;
	src: url(/font/KFOlCnqEu92Fr1MmYUtfBBc4.woff2) format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  /* cyrillic-ext */
  @font-face {
	font-family: 'Roboto Condensed';
	font-style: normal;
	font-weight: 300;
	font-display: swap;
	src: url(/font/ieVi2ZhZI2eCN5jzbjEETS9weq8-33mZGCkYb8td.woff2) format('woff2');
	unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
  }
  /* cyrillic */
  @font-face {
	font-family: 'Roboto Condensed';
	font-style: normal;
	font-weight: 300;
	font-display: swap;
	src: url(/font/ieVi2ZhZI2eCN5jzbjEETS9weq8-33mZGCAYb8td.woff2) format('woff2');
	unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
  }
  /* greek-ext */
  @font-face {
	font-family: 'Roboto Condensed';
	font-style: normal;
	font-weight: 300;
	font-display: swap;
	src: url(/font/ieVi2ZhZI2eCN5jzbjEETS9weq8-33mZGCgYb8td.woff2) format('woff2');
	unicode-range: U+1F00-1FFF;
  }
  /* greek */
  @font-face {
	font-family: 'Roboto Condensed';
	font-style: normal;
	font-weight: 300;
	font-display: swap;
	src: url(/font/ieVi2ZhZI2eCN5jzbjEETS9weq8-33mZGCcYb8td.woff2) format('woff2');
	unicode-range: U+0370-03FF;
  }
  /* vietnamese */
  @font-face {
	font-family: 'Roboto Condensed';
	font-style: normal;
	font-weight: 300;
	font-display: swap;
	src: url(/font/ieVi2ZhZI2eCN5jzbjEETS9weq8-33mZGCsYb8td.woff2) format('woff2');
	unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
  }
  /* latin-ext */
  @font-face {
	font-family: 'Roboto Condensed';
	font-style: normal;
	font-weight: 300;
	font-display: swap;
	src: url(/font/ieVi2ZhZI2eCN5jzbjEETS9weq8-33mZGCoYb8td.woff2) format('woff2');
	unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
  /* latin */
  @font-face {
	font-family: 'Roboto Condensed';
	font-style: normal;
	font-weight: 300;
	font-display: swap;
	src: url(/font/ieVi2ZhZI2eCN5jzbjEETS9weq8-33mZGCQYbw.woff2) format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  /* cyrillic-ext */
  @font-face {
	font-family: 'Roboto Condensed';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url(/font/ieVl2ZhZI2eCN5jzbjEETS9weq8-19-7DRs5.woff2) format('woff2');
	unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
  }
  /* cyrillic */
  @font-face {
	font-family: 'Roboto Condensed';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url(/font/ieVl2ZhZI2eCN5jzbjEETS9weq8-19a7DRs5.woff2) format('woff2');
	unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
  }
  /* greek-ext */
  @font-face {
	font-family: 'Roboto Condensed';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url(/font/ieVl2ZhZI2eCN5jzbjEETS9weq8-1967DRs5.woff2) format('woff2');
	unicode-range: U+1F00-1FFF;
  }
  /* greek */
  @font-face {
	font-family: 'Roboto Condensed';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url(/font/ieVl2ZhZI2eCN5jzbjEETS9weq8-19G7DRs5.woff2) format('woff2');
	unicode-range: U+0370-03FF;
  }
  /* vietnamese */
  @font-face {
	font-family: 'Roboto Condensed';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url(/font/ieVl2ZhZI2eCN5jzbjEETS9weq8-1927DRs5.woff2) format('woff2');
	unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
  }
  /* latin-ext */
  @font-face {
	font-family: 'Roboto Condensed';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url(/font/ieVl2ZhZI2eCN5jzbjEETS9weq8-19y7DRs5.woff2) format('woff2');
	unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
  /* latin */
  @font-face {
	font-family: 'Roboto Condensed';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url(/font/ieVl2ZhZI2eCN5jzbjEETS9weq8-19K7DQ.woff2) format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  /* cyrillic-ext */
  @font-face {
	font-family: 'Roboto Condensed';
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	src: url(/font/ieVi2ZhZI2eCN5jzbjEETS9weq8-32meGCkYb8td.woff2) format('woff2');
	unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
  }
  /* cyrillic */
  @font-face {
	font-family: 'Roboto Condensed';
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	src: url(/font/ieVi2ZhZI2eCN5jzbjEETS9weq8-32meGCAYb8td.woff2) format('woff2');
	unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
  }
  /* greek-ext */
  @font-face {
	font-family: 'Roboto Condensed';
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	src: url(/font/ieVi2ZhZI2eCN5jzbjEETS9weq8-32meGCgYb8td.woff2) format('woff2');
	unicode-range: U+1F00-1FFF;
  }
  /* greek */
  @font-face {
	font-family: 'Roboto Condensed';
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	src: url(/font/ieVi2ZhZI2eCN5jzbjEETS9weq8-32meGCcYb8td.woff2) format('woff2');
	unicode-range: U+0370-03FF;
  }
  /* vietnamese */
  @font-face {
	font-family: 'Roboto Condensed';
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	src: url(/font/ieVi2ZhZI2eCN5jzbjEETS9weq8-32meGCsYb8td.woff2) format('woff2');
	unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
  }
  /* latin-ext */
  @font-face {
	font-family: 'Roboto Condensed';
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	src: url(/font/ieVi2ZhZI2eCN5jzbjEETS9weq8-32meGCoYb8td.woff2) format('woff2');
	unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
  /* latin */
  @font-face {
	font-family: 'Roboto Condensed';
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	src: url(/font/ieVi2ZhZI2eCN5jzbjEETS9weq8-32meGCQYbw.woff2) format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }


  /* MAterial Icon Font - fallback */
@font-face {
	font-family: 'Material Symbols Outlined';
	font-style: normal;
	font-weight: 400;
	src: url(/font/kJF1BvYX7BgnkSrUwT8OhrdQw4oELdPIeeII9v6oDMzByHX9rA6RzaxHMPdY43zj-jCxv3fzvRNU22ZXGJpEpjC_1n-q_4MrImHCIJIZrDCvHOej.woff2) format('woff2');
  }

  .material-symbols-outlined {
	font-family: 'Material Symbols Outlined';
	font-weight: normal;
	font-style: normal;
	font-size: 24px;
	line-height: 1;
	letter-spacing: normal;
	text-transform: none;
	display: inline-block;
	white-space: nowrap;
	word-wrap: normal;
	direction: ltr;
	-webkit-font-smoothing: antialiased;
  }

:root {
    --font-system: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,
                    "Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,
                    "Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";

	--font-family: 'Roboto', sans-serif;
	--font-text: 'Quicksand', sans-serif;
	--font-title: 'Roboto Condensed', sans-serif;

    --text: #ffffff;
    --back: #000000;

    --log-text: #ffffff;
    --log-back: #000000;
}
.pulse {
    animation: pulse 1s ease-in;
    animation-iteration-count: infinite;
    transition: .6s;
    opacity: 0;
}

@keyframes pulse {
    0% {
        transform: scale(.5);
    }

    10%,
    90% {
        transform: scale(1);
        opacity: 1;
    }

    100% {
        transform: scale(1.4);
    }
}
.shop {
    position: relative;
    display: flex;
    justify-content: center;
    margin: -4rem 3rem 12rem 3rem;
}

.gallery {
    width: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns:
        repeat(auto-fit, minmax(min(300px, 100%), 1fr));
    gap: 3rem;
    justify-items: stretch;
}

.glr-item {
    position: relative;
    box-shadow: 0 0 60px #00000034;
    transition: .4s;
    transform-origin: top;
    border-radius: 8px;
}

.glr-media {
    transition: .4s;
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    aspect-ratio: 16/9;
    margin: 0 0 -5px 0;
}

.glr-item img,
.glr-item iframe {
    width: 100%;
    height: 100%;
    border-radius: 8px;
    object-fit: cover;
}

.glr-content {
    transition: .4s;
    position: absolute;
    top: 97%;
    padding: 0 1rem 1rem 1rem;
    background: #0000007f;
    color: #ffffff;
    margin: 0 0 0 0;
    opacity: 0;
    width: 100%;
}

.glr-item:hover {
    z-index: 200;
    transform: scale(1.1, 1.1)  translateY(-3rem);
    box-shadow: 0 15px 120px 40px rgba(0, 0, 0, 0.5);
    border-radius: 16px;
    transform-origin: center;
}

.glr-item:hover .glr-media {
    border-radius: 16px;
}

.glr-item:hover .glr-media img,
.glr-item:hover .glr-media iframe {
    border-radius: 16px;
}

.glr-item:hover .glr-content {
    opacity: 1;
    border-radius: 16px;
    top: 97%;
    background: #000;
    height: max-content;
    box-shadow: 0 70px 120px 30px rgba(0, 0, 0, 0.5);
}

.gallery:hover>.glr-item:not(:hover) .glr-media {
    filter: saturate(0.5);
    /* contrast(1.2) blur(10px)brightness(0.5) ;*/
}

.glr-item:hover .glr-media img,
.glr-item:hover .glr-media iframe {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.glr-item:hover .glr-content {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

/* Content */
.glr-content-title {
    display: flex;
    align-items: center;
    gap: .5rem;
    padding: 1rem 0 0 0;
}

.glr-content-title a {
    text-decoration: none;
    color: #ffffff;
}

.glr-content-title span {
    font-size: 4rem;
    cursor: pointer;
}

.glr-content-title span:hover {
    color: #06ff06;
}

.glr-content-title h2 {
    font-size: 1.2rem;
    line-height: 1;
    font-weight: bold;
}

.glr-content-description {
    font-size: .9rem;
    font-weight: 100;
}

/* Content INFO */
.glr-content-info {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: .9rem;
    color: lime;
    padding: .5rem 0;
}

.glr-content-info div {
    display: flex;
    align-items: center;
    gap: .3rem;
}

.glr-content-info span {
    font-size: 1rem;
    color: #4f931c;
    margin: 2px 0 0 0;
}

.glr-content .quality {
    padding: 0 .2rem;
    background: #ffa500;
    color: #000;
    font-weight: bold;
    text-transform: uppercase;
}


/* MEDIA QUERY --- */
@media screen and (max-width: 767px) {
    .shop {
        margin: -4rem 1rem 10rem 1rem;
    }  
    .gallery {
        gap: 2rem;
    }

    .glr-item:hover {
        transform: scale(1.05, 1.05) translateY(-4rem);
    }
}

@media screen and (min-width: 1380px) {

}
.stage {
    position: relative;
    background: #000;
    color: #ffffff;
    height: 40vh;    
    min-height: 500px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    padding: 0 0 0 3rem;

    transition: 1.5s;
}

.stg-media {
    object-fit: cover;
    aspect-ratio: 16/9;
    height: 100%;
    position: absolute;
}

.stg-media img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.stg-play-button {
    display: flex;
    align-items: center;
    font-size: 3rem;
    font-weight: bold;
    color: lime;
    cursor: pointer;
    text-decoration: none;
}

.stg-title {
    font-size: 1.5rem;
    color: #ffffff;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    line-height: 1;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    display: flex;
    padding: 1rem 3rem 5rem 3rem;
    background-image: linear-gradient(to right, #000, rgba(0,0,0,.9) 10%, rgba(0,0,0,0));
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
}

.stg-title h1 {    
    font-family: var(--font-title);
}

.stg-title span.stg-play {
    font-size: 7rem;
    color: #06ff06;
}

/* Stage INFO */
.stg-info {
    font-size: 1rem;
    color: #ffffff;
    display: flex;
    justify-content: center;
    gap: 2rem;
    padding: 1rem 0;
}

.stg-info div {
    display: flex;
    align-items: center;
    gap: .3rem;
}

.stg-info span {
    font-size: 1rem;
    color: #4f931c;
    margin: 2px 0 0 0;
}

.stg-info .quality {
    padding: 0 .2rem;
    background: #ffa500;
    color: #000;
    font-weight: bold;
    text-transform: uppercase;
}

.stg-description {
    font-size: 1.2rem;
}


/* MEDIA QUERY --- */
@media screen and (max-width: 767px) {
    .stage {
        height: 100vh;        
        padding: 0 1rem 8rem 1rem;
    }

    .stg-play-button {
        font-size: 2rem;
        width: 100%;
        justify-content: center;
    }

    .stg-title {
        font-size: 1.2rem;
        padding: 0 1rem 5rem 1rem;
        max-width: 100%;
        background-image: linear-gradient(to right, #000, rgba(0,0,0,.9) 20%, transparent);
    }

    .stg-title span.stg-play {
        font-size: 5rem;
    }
    
    .stg-media {
        right: 0;
    }

    .stg-description {
        max-height: 114px;
        overflow: hidden auto;
    }
}

@media screen and (min-width: 1380px) {
    .stage {
        min-height: 600px;
    }

    .stg-title {
        font-size: 2rem;
        line-height: .8;
        max-width: 50%;
    }

    .stg-play-button {
        font-size: 3rem;
        width: 100%;
        justify-content: flex-start;
    }

    .stg-info {
        width: 100%;
        justify-content: flex-start;
    }
}
.login {
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: fixed;
    left: 0;
    top:  0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,0.9);
}

.log-login {
    min-width: 320px;
    background: var(--log-back);    
    color: var(--log-text);
    padding: 1rem;
    position: relative;
    box-shadow: 0 15px 120px 40px rgba(255, 255, 255, 0.2);
    opacity: 0;
    transition: .6s cubic-bezier(0.47, -1.2, 0.46, 2.16);
    transform: scale(0);
}

.login.on {
    display: flex;
}

.log-login.on {
    opacity: 1;
    transform: none;
}

log-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-group {
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.form-group.form-check {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: .5rem;
}

.form-group input,
.form-group button {
    padding: .8rem;
    border-radius: 2rem;
    border: none;
}

.form-group label {
    font-size: .8rem;
    margin: 0 0 .3rem 0;
}

.form-group button {
    background-image: linear-gradient(to top, #031e81, #6072ff);    
    color: var(--log-text);
    margin: .5rem 0;
    cursor: pointer;
}

body.player .stage {
    flex-direction: column;
    justify-content: flex-start;
    height: 90vh;
    padding: 0 0 2rem 0;
    margin: 0 0 2rem 0;    
    max-height: unset;
}

body.player .stg-media {
    position: relative;
    width: 100%;
    transition: .3s;
}

.stg-video {
    width: 100%;
    object-fit: cover;
    aspect-ratio: 16/9;
    transition: 1s;
}

body.player .stg-title {
    position: relative;
    padding: 2rem 3rem;
}

body.player .stg-play-button {
    display: flex;
    position: fixed;
    justify-content: center;
    bottom: 0;
    left: 0;
    right: 0;
    padding: .5rem;
    background: rgba(0,0,0,.8);
    gap: 2rem;
    z-index: 2000;
}

body.player .stg-play-button span {
    font-size: 36px;
}

body.player .stg-play-button span:hover {
    color: #ffffff;
}

body.player .stg-play-button span.off {
    display: none;
}

body.player .stg-play,
body.player .stg-pause {
    font-size: 56px !important;
}

body.player .shop {
    margin-top: -4rem;
}


/* MEDIA QUERY --- */
@media screen and (max-width: 767px) {
    body.player .stage {
        padding: 0 0 2rem 0;
    }

    body.player .stg-play-button span {
        font-size: 38px;
    }

    body.player .stg-title {
        padding: 1rem;
        background: #000;
    }
}

@media screen and (min-width: 1380px) {
    
}
/*!
 * Cropper.js v1.5.13
 * https://fengyuanchen.github.io/cropperjs
 *
 * Copyright 2015-present Chen Fengyuan
 * Released under the MIT license
 *
 * Date: 2022-11-20T05:30:43.444Z
 */.cropper-container{direction:ltr;font-size:0;line-height:0;position:relative;-ms-touch-action:none;touch-action:none;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}.cropper-container img{-webkit-backface-visibility:hidden;backface-visibility:hidden;display:block;height:100%;image-orientation:0deg;max-height:none!important;max-width:none!important;min-height:0!important;min-width:0!important;width:100%}.cropper-canvas,.cropper-crop-box,.cropper-drag-box,.cropper-modal,.cropper-wrap-box{bottom:0;left:0;position:absolute;right:0;top:0}.cropper-canvas,.cropper-wrap-box{overflow:hidden}.cropper-drag-box{background-color:#fff;opacity:0}.cropper-modal{background-color:#000;opacity:.5}.cropper-view-box{display:block;height:100%;outline:1px solid #39f;outline-color:rgba(51,153,255,.75);overflow:hidden;width:100%}.cropper-dashed{border:0 dashed #eee;display:block;opacity:.5;position:absolute}.cropper-dashed.dashed-h{border-bottom-width:1px;border-top-width:1px;height:33.33333%;left:0;top:33.33333%;width:100%}.cropper-dashed.dashed-v{border-left-width:1px;border-right-width:1px;height:100%;left:33.33333%;top:0;width:33.33333%}.cropper-center{display:block;height:0;left:50%;opacity:.75;position:absolute;top:50%;width:0}.cropper-center:after,.cropper-center:before{background-color:#eee;content:" ";display:block;position:absolute}.cropper-center:before{height:1px;left:-3px;top:0;width:7px}.cropper-center:after{height:7px;left:0;top:-3px;width:1px}.cropper-face,.cropper-line,.cropper-point{display:block;height:100%;opacity:.1;position:absolute;width:100%}.cropper-face{background-color:#fff;left:0;top:0}.cropper-line{background-color:#39f}.cropper-line.line-e{cursor:ew-resize;right:-3px;top:0;width:5px}.cropper-line.line-n{cursor:ns-resize;height:5px;left:0;top:-3px}.cropper-line.line-w{cursor:ew-resize;left:-3px;top:0;width:5px}.cropper-line.line-s{bottom:-3px;cursor:ns-resize;height:5px;left:0}.cropper-point{background-color:#39f;height:5px;opacity:.75;width:5px}.cropper-point.point-e{cursor:ew-resize;margin-top:-3px;right:-3px;top:50%}.cropper-point.point-n{cursor:ns-resize;left:50%;margin-left:-3px;top:-3px}.cropper-point.point-w{cursor:ew-resize;left:-3px;margin-top:-3px;top:50%}.cropper-point.point-s{bottom:-3px;cursor:s-resize;left:50%;margin-left:-3px}.cropper-point.point-ne{cursor:nesw-resize;right:-3px;top:-3px}.cropper-point.point-nw{cursor:nwse-resize;left:-3px;top:-3px}.cropper-point.point-sw{bottom:-3px;cursor:nesw-resize;left:-3px}.cropper-point.point-se{bottom:-3px;cursor:nwse-resize;height:20px;opacity:1;right:-3px;width:20px}@media (min-width:768px){.cropper-point.point-se{height:15px;width:15px}}@media (min-width:992px){.cropper-point.point-se{height:10px;width:10px}}@media (min-width:1200px){.cropper-point.point-se{height:5px;opacity:.75;width:5px}}.cropper-point.point-se:before{background-color:#39f;bottom:-50%;content:" ";display:block;height:200%;opacity:0;position:absolute;right:-50%;width:200%}.cropper-invisible{opacity:0}.cropper-bg{background-image:url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQAQMAAAAlPW0iAAAAA3NCSVQICAjb4U/gAAAABlBMVEXMzMz////TjRV2AAAACXBIWXMAAArrAAAK6wGCiw1aAAAAHHRFWHRTb2Z0d2FyZQBBZG9iZSBGaXJld29ya3MgQ1M26LyyjAAAABFJREFUCJlj+M/AgBVhF/0PAH6/D/HkDxOGAAAAAElFTkSuQmCC")}.cropper-hide{display:block;height:0;position:absolute;width:0}.cropper-hidden{display:none!important}.cropper-move{cursor:move}.cropper-crop{cursor:crosshair}.cropper-disabled .cropper-drag-box,.cropper-disabled .cropper-face,.cropper-disabled .cropper-line,.cropper-disabled .cropper-point{cursor:not-allowed}
:root {
    --text: #ffffff;
    --back: #000000;
}

body.dark {
    background-color: #000;
    color: #ffffff;
}

body.dark .glr-item {
    box-shadow: 0 0 60px #ffffff40;
}

body.dark .glr-item:hover {
    box-shadow: 0 15px 120px 40px rgba(255, 255, 255, 0.5);
}

body.dark .glr-item:hover .glr-content {
    box-shadow: 0 15px 120px 40px rgba(255, 255, 255, 0.5);
}
* {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    scroll-behavior: smooth;
    transition: background 2s;
    display: flex;
    flex-direction: column;
    font-family: var(--font-text);
}

.splash {
    position: fixed;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    z-index: -40;
    display: flex;    
    justify-content: center;
    align-items: center;
}

.splash.on {
    z-index: 4000;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.97);
}

.loader {
    text-align: center;
    display: none;
    justify-content: center;
    align-items: center;
}

.loader.on {
    display: flex;
}

.loader img {
    width: 42px;
}

header {
    background: #000;
    padding: .5rem 3rem;
    z-index: 3000;
}

header a {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: .5rem;
    text-decoration: none;
    color: var(--text);
}

header .logo {
    height: 36px;
}

header .theme {
    color: yellow;
    cursor: pointer;
}

header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
}

header .theme span {
    line-height: 2;
}

main {
    display: flex;
    flex: 1;
    display: flex;
    flex-direction: column;
}

footer .container {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 3rem;
    justify-content: center;
}


/* MEDIA QUERY --- */
@media screen and (max-width: 767px) {
    header {
        padding: .5rem 1rem;
    }
}

@media screen and (min-width: 1380px) {}